.base {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  * {
    box-sizing: border-box;
  }
}

.graphic {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  transition: height 0.3s ease-out;
  z-index: 1;

  // Chrome fix https://stackoverflow.com/a/28906246/955917
  -webkit-transform: translate3d(0, 0, 0);

  &::after {
    display: none;
  }
}

.before {
  position: absolute;
  top: 0;
  left: 0;
}

.during {
  position: fixed;
  top: 0;
  left: 0;
}

.after {
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
